body {
    background: lightslategrey
}

h1, h2 {
    font-family:'Courier New', Courier, monospace;
    color:floralwhite;
}

h1 {
    text-align:center;
    font-size: 4cm;
    margin-bottom: 0%;
    margin-left: auto;
}

img {
    max-width:100%;
    height:auto;
    border: 10px solid;
    border-color:cornsilk;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:block;
    background-color:cornsilk;
}

.content {
    max-width: 500px;
    margin: auto;
    padding: 10px;
  }